* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    background-color: cornsilk;
    max-height: 65vh;
    overflow: hidden;
}

main {
    margin-top: 4rem;
    margin-left: 7rem;
    height: 95vh;
    padding-top: 3rem;
    
}

p {
    font-size: 12px;
}

.navbar-brand img {
    width: 120px;
    height: 70px;
    border-radius: 50%;
}

.navbar-nav {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5rem;
}

ul li :hover {
    background-color: #b8b2b2;
    border-radius: 10px;
}

h1 {
    font-size: 6rem;
    font-family: brush script mt;
    font-weight: 300px;
}




