*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: white;
}

.nav-link {
    font-size: 15px;
}

.home-nav-icon {
    font-family: 'Kolker Brush', sans-serif;
    font-size: 55px;
}


.nav-item a{
    color: black;
}

.navbar-nav :hover {
    /* color: yellow; */
    color: lightseagreen;
    border-radius: 8px;
    transition: 0.5s;
    border-radius: 15px;
}

.navbar li {
    margin-left: 1rem;
}

/* gallery */
/* ========================================= */
main {
    margin: 0rem 5rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-gap: 20px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 10px 55px 5px black;
    padding: 1rem;
  }
  
  /* Responsive layout - makes the grid rows and columns instead of columns */
  @media only screen and (max-width: 767px) {
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
   
.title {
    padding-top: 6rem;
    padding-bottom: 2rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}

h3 {
    font-size: 2rem;
    border-bottom: 2px solid black;
    font-weight: bolder;
    padding-bottom: 1rem;
}

span {
    font-size: 2rem;
    font-weight: 100;
    color: gray;
}

.col img {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    /* box-shadow: 1px 1px 10px 1px #bbe8ed; */
}

.col img:hover {
    transform: scale(1.05);
    transition: transform .8s; 
    cursor: pointer;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 4rem; */
    margin: 2rem;
    padding: 1rem;
}

button {
    width: 10rem;
    border-radius: 5px;
}

button:hover {
    color: red
}
