*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right,#abdbe3, #f7ddaa);
  }

/* pop-up */
/* ====================================================== */
.pop-up {
    position: fixed;
    top: 2%;
    left: 7.5%;
    /* transform: translate(-50%, -50%) scale(0); */
    width: 85%;
    max-width: 1600px;
    height: 95vh;
    max-height: 800px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    overflow: hidden;
    transition: 1s;
    opacity: 0;
}

.active {
    transform: translate(-50%, -50%) scale (0);
    opacity: 1;
}

.pop-up .active .close-button,
.pop-up .active .image,
.pop-up .active .large-image,
.pop-up .active .arrow-btn {
    opacity: 1;
    transition: opacity .5s;
    transition-delay: 1s;
}

.inactive {
    transform: translate(0%, 0%) scale(0);
    opacity: 0;
}

.pop-up .inactive .close-button,
.pop-up .inactive .image,
.pop-up .inactive .large-image,
.pop-up .inactive .arrow-btn {
    opacity: 0;
    transition: opacity .5s;
    transition-delay: 1s;
}

.top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 50px;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 42px;
    width: 20px;
    height: 20px;
    border: 50%;
    background: transparent;
    cursor: pointer;
}

.close-button {
    position: absolute;
    top: 5px;
}

.arrow-btn {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 50%;
    border: none;
    /* background: none; */
    width: 2rem;
    cursor: pointer;
}

.arrow-btn:hover {
    background: rgba(0, 0, 0, 0.5);
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.large-image {
    margin-top: 5px;
    width: 80%;
    height: 100%;
    object-fit: contain;
}
/* pop up end */


/* gallery */
/* ========================================= */
main {
    margin: 0rem 5rem;
    position: relative;
    padding: 0;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-gap: 20px;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 10px 55px 5px black;
    padding: 1rem;
}
   
.title {
    padding-top: 1rem;
    padding-bottom: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: auto;
}

h3 {
    font-size: 2rem;
    border-bottom: 2px solid black;
    font-weight: bolder;
    padding-bottom: 1rem;
}

span {
    font-size: 2rem;
    font-weight: 100;
    color: gray;
}

.col img {
    width: 100%;
    padding: 0px;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    margin-bottom: 25px;
    box-shadow: 5px 10px 55px 5px black;
}

.col img:hover {
    transform: scale(1.05);
    transition: transform .8s; 
    cursor: pointer;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 4rem; */
    margin: 2rem;
    padding: 1rem;
}

button {
    width: 10rem;
    border-radius: 5px;
}

button:hover {
    color: red
}

  /* Responsive layout - makes the grid rows and columns instead of columns */
  @media only screen and (max-width: 767px) {
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
