

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  color: white;
  padding: 6px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 50px;
  right: 70px;
  width: 40px;
  height: 50px;
  border-radius: 15px;
}

.open-button img {
  width: 45px;
  height: 57px;
  top: 0%;
  right: 0%;
  border-radius: 15px;
  position: absolute;
  box-shadow: 1px 1px 2px black, 0 0 25px #1272a4, 0 0 5px #8dd7e2;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 55px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 250px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 15px 0 15px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
  font-size: 15px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 15px 15px 15px 15px;
  border: none;
  cursor: pointer;
  height: 20px;
  border-radius: 7px;
  opacity: 0.8;
  width:100px;
  font-size: 15px;
}

.btn {
  font-size: 12px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

h2 {
  font-size: 20px;
  color:black;
}

