*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
}

main{
    max-width: 100vw;
    font-size: 10px;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url("images/top 4/arminda\'s.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: white;
}

.nav-link {
    font-size: 15px;
}

.home-nav-icon {
    font-family: 'Kolker Brush', sans-serif;
    font-size: 55px;
}


.nav-item a{
    color: black;
}

.navbar-nav :hover {
    color: lightseagreen;
    border-radius: 8px;
    transition: 0.5s;
    border-radius: 15px;
}

.navbar li {
    margin-left: 1rem;
}

/* main */
/* ============================================================== */

.web-content{
    padding: 13rem 0rem;
}

.words {
    font-size: 5rem;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #1272a4, 0 0 5px #8dd7e2;
    margin-bottom: 5.5rem;
}

.content {
    width: 50rem;
    font-size: 25px;
    color: whitesmoke;
    letter-spacing: 2px;
    font-weight: 500;
    text-shadow: 2px 2px 5px black, 0 0 25px #1272a4, 0 0 5px #1e707c;
    border: 1px solid lightblue;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
}


  /* responsive */
  /* =================================== */

@media screen and (max-width: 991px){
    main{
        height: 135vh;
    }


.more-pictures {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    /* margin-right: 4rem; */
    width: 80%; 
    margin-bottom: 0rem;
    margin-left: 8rem;
    
}

.activities-content img {
    width: 500px;
    height: 500px;
    cursor: pointer;
    padding: 1px;
    margin: 30px;
    border-radius: 15px;
    border: 0.5px solid white;
    box-shadow: -15px 15px 15px black;
}

.more-pictures img:hover {
    transition: transform .5s; 
    transform: scale(1.05);
}
}

@media screen and (max-width: 767px) {

    .web-content{
        padding-top: 10rem;
    }
    
    .words {
        font-size: 5rem;
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px #1272a4, 0 0 5px #8dd7e2;
        margin-bottom: 4rem;
    }
    
    .content {
        width: 50rem;
        font-size: 18px;
        color: whitesmoke;
        letter-spacing: 2px;
        font-weight: 500;
        text-shadow: 2px 2px 5px black, 0 0 25px #1272a4, 0 0 5px #1e707c;
        border: 1px solid lightblue;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .visited-places {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
        padding-bottom: 1rem;
        color: white;
    }
  }

  @media screen and (max-width: 699px) {
    .navbar {
        padding-left: 7rem;
        padding-right: 7rem;
    }
  }

  
  @media screen and (max-width: 508px) {

    main {
        height: 85vh;
    }
    .web-content{
        padding-top: 9rem;
    }
    
    .words {
        font-size: 4rem;
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px #1272a4, 0 0 5px #8dd7e2;
        margin-bottom: 4rem;
    }
    
    .content {
        width: 50rem;
        font-size: 15px;
        color: whitesmoke;
        letter-spacing: 2px;
        font-weight: 500;
        text-shadow: 2px 2px 5px black, 0 0 25px #1272a4, 0 0 5px #1e707c;
        border: 1px solid lightblue;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .visited-places {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
        padding-bottom: 1rem;
        color: white;
    }
  }

  @media screen and (max-width: 499px) {
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
    
    .nav-link {
        font-size: 12px;
    }
    
    .home-nav-icon {
        font-family: 'Kolker Brush', sans-serif;
        font-size: 40px;
    }
  }

  @media screen and (max-width: 456px) {
    .navbar {
        padding-left: 7rem;
        padding-right: 7rem;
    }
  }

  @media screen and (max-width: 411px) {
    main{
        height: 70vh !important;
    }

    .web-content{
        padding-top: 8rem;
    }
    
    .words {
        font-size: 3rem !important;
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px #1272a4, 0 0 5px #8dd7e2;
        margin-bottom: 2rem !important;
    }
    
    .content {
        width: 20rem;
        font-size: 15px !important;
        color: whitesmoke;
        letter-spacing: 1px;
        font-weight: 500;
        text-shadow: 2px 2px 5px black, 0 0 25px #1272a4, 0 0 5px #1e707c;
        border: 1px solid lightblue;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }
  }

  @media screen and (max-width: 315px) {
    main{
        height: 60vh !important;
    }

    .web-content{
        padding-top: 8rem;
    }
    
    .words {
        font-size: 2rem !important;
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px #1272a4, 0 0 5px #8dd7e2;
        margin-bottom: 2rem !important;
    }
    
    .content {
        width: 20rem;
        font-size: 12px !important;
        color: whitesmoke;
        text-shadow: 2px 2px 5px black, 0 0 25px #1272a4, 0 0 5px #1e707c;
        border: 1px solid lightblue;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }
  }
  

