*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    max-width: 100vw;
    font-size: 10px;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url("images/top 4/arminda\'s.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: white;
}

.nav-link {
    font-size: 15px;
}

.home-nav-icon {
    font-family: 'Kolker Brush', sans-serif;
    font-size: 55px;
}


.nav-item a{
    color: black;
}

.navbar-nav :hover {
    color: lightseagreen;
    border-radius: 8px;
    transition: 0.5s;
    border-radius: 15px;
}

.navbar li {
    margin-left: 1rem;
}

/* main */

.web-content{
    padding: 13rem 9rem;
}

.words {
    font-size: 5rem;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #1272a4, 0 0 5px #8dd7e2;
    margin-bottom: 5rem;
}

.content {
    width: 50rem;
    font-size: 25px;
    color: whitesmoke;
    letter-spacing: 2px;
    font-weight: 500;
    text-shadow: 2px 2px 5px black, 0 0 25px #1272a4, 0 0 5px #1e707c;
    border: 1px solid lightblue;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* ===Places== */
/* ---------------------------------------- */

.places-section {
    background-color: #315c94;
    height: auto;
    padding-top: 4rem;
    position: relative;
    padding-bottom: 3rem;
    margin-bottom: 5rem;
}

.visited-places {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem;
    color: white;
}

.places-pictures {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.card {
    padding: 12px;
    margin: 0.5rem;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: -15px 15px 15px black;
    transition: transform .5s; 
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    border-radius: 8px;
}

.card-body {
    margin: 0;
    padding: 1rem 0rem;
}

p {
    font-size: 15px;
}

.places-content {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    width: 80%;
    margin: 5rem auto;
}

.left {
    font-size: 18px;
}

.content-right {
    padding: 2rem;
    border-radius: 10px;
}

hr {
    margin: 0rem 5rem;
    margin-bottom: 5rem;
    border: none;
    height: 5px;
    background-color: black;
}

.activities-section {
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  
}

.more-pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 3rem;
    width: 90%;  
}

.more-pictures img {
    width: 270px;
    height: 270px;
    cursor: pointer;
    padding: 1px;
    margin: 30px;
    border-radius: 15px;
    border: 0.5px solid white;
    box-shadow: -15px 15px 15px black;
}

.more-pictures img:hover {
    transition: transform .5s; 
    transform: scale(1.05);
}

/* pop-up */
/* ====================================================== */
.pop-up {
    position: fixed;
    top: 12%;
    left: 10%;
    /* transform: translate(-50%, -50%) scale(0); */
    width: 80%;
    max-width: 1600px;
    height: 85vh;
    max-height: 800px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    overflow: hidden;
    transition: 1s;
    opacity: 0;
}

.active {
    transform: translate(-50%, -50%) scale (0);
    opacity: 1;
}

.pop-up .active .close-button,
.pop-up .active .image,
.pop-up .active .large-image,
.pop-up .active .arrow-btn {
    opacity: 1;
    transition: opacity .5s;
    transition-delay: 1s;
}

.inactive {
    transform: translate(0%, 0%) scale(0);
    opacity: 0;
}

.pop-up .inactive .close-button,
.pop-up .inactive .image,
.pop-up .inactive .large-image,
.pop-up .inactive .arrow-btn {
    opacity: 0;
    transition: opacity .5s;
    transition-delay: 1s;
}

.top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 50px;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 25px;
    width: 20px;
    height: 20px;
    border: 50%;
    background: transparent;
    cursor: pointer;
}

.close-button {
    position: absolute;
    top: 5px;
}

.arrow-btn {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 50%;
    border: none;
    /* background: none; */
    cursor: pointer;
}

.arrow-btn:hover {
    background: rgba(0, 0, 0, 0.5);
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
    /* transform: translateY(-50%) rotate(180deg); */
}

.large-image {
    margin-top: 5px;
    width: 80%;
    height: 80%;
    object-fit: contain;
}
/* pop up end */

@media screen and (max-width: 991px) {
    .more-pictures {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: auto;  
        width: 85%;  
    }
    
    .more-pictures img {
        width: 200px;
        height: 200px;
        cursor: pointer;
        padding: 5px;
        border-radius: 15px;
    }
}

@media screen and (max-width: 767px) {
    .more-pictures {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: auto;  
        width: 60%;  
    }
    
    .more-pictures img {
        width: 200px;
        height: 200px;
        cursor: pointer;
        padding: 5px;
        border-radius: 15px;
    }
}

@media screen and (max-width: 575px) {
    .more-pictures {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: auto;  
        width: 48%;  
    }
    
    .more-pictures img {
        width: 250px;
        height: 250px;
        cursor: pointer;
        padding: 5px;
        border-radius: 15px;
    }
}

/* contact section */
/* ============================================== */

#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-bottom: 5rem;
    width: 100%;
    height: auto;
}



.personal-contact {
    font-size: 12px;
    margin-top: 2rem;
}

.personal-contact i:hover {
    color: skyblue;
}

.contact-form {
    font-size: 18px;
    /* width: 30rem; */
    height: auto;
    margin: auto;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 1px 20px 10px #0f2e57;
}

.submit {
    border-radius: 8px;
    width: 5rem;
    border: 1px solid black;
}

.submit:hover {
    color: red;
}

.copyright {
    font-size: 18px;
}

/* activities */
/* ============================================ */
/* .carousel-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
} */

.carousel-item img{
    width: 60%;
    height: 60vh;
}



  /* responsive */
  /* =================================== */
  @media screen and (max-width: 767px) {

    .web-content{
        padding-top: 10rem;
    }
    
    .words {
        font-size: 5rem;
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px #1272a4, 0 0 5px #8dd7e2;
        margin-bottom: 4rem;
    }
    
    .content {
        width: 50rem;
        font-size: 18px;
        color: whitesmoke;
        letter-spacing: 2px;
        font-weight: 500;
        text-shadow: 2px 2px 5px black, 0 0 25px #1272a4, 0 0 5px #1e707c;
        border: 1px solid lightblue;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .visited-places {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
        padding-bottom: 1rem;
        color: white;
    }
  }

  @media screen and (max-width: 740px) {

  }

  @media screen and (max-width: 699px) {
    .navbar {
        padding-left: 7rem;
        padding-right: 7rem;
    }
  }

  
  @media screen and (max-width: 508px) {

    main {
        height: 85vh;
    }
    .web-content{
        padding-top: 9rem;
    }
    
    .words {
        font-size: 4rem;
        color: white;
        text-shadow: 1px 1px 2px black, 0 0 25px #1272a4, 0 0 5px #8dd7e2;
        margin-bottom: 4rem;
    }
    
    .content {
        width: 50rem;
        font-size: 15px;
        color: whitesmoke;
        letter-spacing: 2px;
        font-weight: 500;
        text-shadow: 2px 2px 5px black, 0 0 25px #1272a4, 0 0 5px #1e707c;
        border: 1px solid lightblue;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .visited-places {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
        padding-bottom: 1rem;
        color: white;
    }
  }

  @media screen and (max-width: 499px) {
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
    
    .nav-link {
        font-size: 12px;
    }
    
    .home-nav-icon {
        font-family: 'Kolker Brush', sans-serif;
        font-size: 40px;
    }
  }

  @media screen and (max-width: 456px) {
    .navbar {
        padding-left: 7rem;
        padding-right: 7rem;
    }
  }
  

