*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/pamplona.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    max-height: 100vh;
    overflow: hidden;
  }

.navbar-brand img {
    border-radius: 50%;
}

.navbar-nav {
    font-size: larger;
    font-weight: 500;
}

.left iframe{
    width: 500px;;
    height: 450px;
    
}

.left, .right {
    margin: 5rem 100px;
}

.container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.nav-item:hover {
    background-color: #b8b2b2;
    border-radius: 10px;
}






